
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff; /* Новый цвет фона */
    margin: 0;
    padding: 0;
}

h1 {
    color: #0066cc; /* Новый цвет заголовка */
    text-align: center;
}

p {
    line-height: 1.6;
    color: #444;
    font-size: 18px;
}
